---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->

{% endif %}


<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
	<a href="https://robotcar-dataset.robots.ox.ac.uk">Home</a>
	<a class="current">Downloads</a>
</nav>



<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				<h1>Downloads</h1>
			</header>
			<p>
				Before downloading individual datasets, please download the SDK from the <a href="https://robotcar-dataset.robots.ox.ac.uk/downloads/">downloads page.</a>
			<div class="row" id="tags-accordion">
				<div class="small-12 columns">
					<ul class="accordion" data-accordion="">
						<li class="accordion-navigation">
							<a href="#tags">Show Tags</a>
							<div id="tags" class="content">
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/alternate-route">alternate-route</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/clouds">clouds</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/detour">detour</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/dusk">dusk</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/night">night</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/no-gps">no-gps</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/overcast">overcast</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/partial">partial</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/poor-gps">poor-gps</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/rain">rain</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/roadworks">roadworks</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/short">short</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/snow">snow</a>
								</span>
								<span class="icon-price-tag pr10">
									<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/sun">sun</a>
								</span>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-link listing-odd" onclick="window.location.href='https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-12-54-54/';" >
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-12-54-54/">
						<img id="thumb-1" src="https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/xb3.jpg" onmouseover="togif(1, '2014-05-06-12-54-54/xb3');" onmouseout="tojpg(1, '2014-05-06-12-54-54/xb3');"/>
						<img id="hidden-1" style="display: none;"/>
					</a>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-12-54-54/">
						<h4>2014/05/06</h4>
					</a>
					Time: 12:54:54 GMT<br/>
					Size: 36GB<br/>
					<span class="icon-price-tag pr10">alternate-route</span>
					<span class="icon-price-tag pr10">clouds</span>
					<span class="icon-price-tag pr10">sun</span>
				</div>
			</div>
			<div class="row listing listing-link listing-even" onclick="window.location.href='https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-09-52/';">
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-09-52/">
						<img id="thumb-2" src="https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-13-09-52/xb3.jpg" onmouseover="togif(2, '2014-05-06-13-09-52/xb3');" onmouseout="tojpg(2, '2014-05-06-13-09-52/xb3');"/>
						<img id="hidden-2" style="display: none;"/>
					</a>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-09-52/">
						<h4>2014/05/06</h4>
					</a>
					Time: 13:09:52 GMT<br/>
					Size: 35GB<br/>
					<span class="icon-price-tag pr10">alternate-route</span>
					<span class="icon-price-tag pr10">clouds</span>
					<span class="icon-price-tag pr10">sun</span>
				</div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-gs2_left">Downloads</a>
							<div id="downloads-gs2_left" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_mono_left_01.tar">2014-05-06-12-54-54_mono_left_01.tar</a>
												<td>2.07GB
												<td>83603D0B824FDFD206DB6CB53206368D
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-link listing-odd" onclick="window.location.href='https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-14-58/';">
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-14-58/">
						<img id="thumb-3" src="https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-13-14-58/xb3.jpg" onmouseover="togif(3, '2014-05-06-13-14-58/xb3');" onmouseout="tojpg(3, '2014-05-06-13-14-58/xb3');"/>
						<img id="hidden-3" style="display: none;"/>
					</a>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-14-58/">
						<h4>2014/05/06</h4>
					</a>
					Time: 13:14:58 GMT<br/>
					Size: 19GB<br/>
					<span class="icon-price-tag pr10">alternate-route</span>
					<span class="icon-price-tag pr10">clouds</span>
					<span class="icon-price-tag pr10">poor-gps</span>
					<span class="icon-price-tag pr10">sun</span>
				</div>
			</div>
			<div class="row listing listing-link listing-even" onclick="window.location.href='https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-17-51/';">
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-17-51/">
						<img id="thumb-4" src="https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-13-17-51/xb3.jpg" onmouseover="togif(4, '2014-05-06-13-17-51/xb3');" onmouseout="tojpg(4, '2014-05-06-13-17-51/xb3');"/>
						<img id="hidden-4" style="display: none;"/>
					</a>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-06-13-17-51/">
						<h4>2014/05/06</h4>
					</a>
					Time: 13:17:51 GMT<br/>
					Size: 32GB<br/>
					<span class="icon-price-tag pr10">alternate-route</span>
					<span class="icon-price-tag pr10">clouds</span>
					<span class="icon-price-tag pr10">sun</span>
				</div>
			</div>
			<div class="row listing listing-link listing-odd" onclick="window.location.href='https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-14-13-46-12/';">
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-14-13-46-12/">
						<img id="thumb-5" src="https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-14-13-46-12/xb3.jpg" onmouseover="togif(5, '2014-05-14-13-46-12/xb3');" onmouseout="tojpg(5, '2014-05-14-13-46-12/xb3');"/>
						<img id="hidden-5" style="display: none;"/>
					</a>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-14-13-46-12/">
						<h4>2014/05/14</h4>
					</a>
					Time: 13:46:12 GMT<br/>
					Size: 16GB<br/>
					<span class="icon-price-tag pr10">alternate-route</span>
					<span class="icon-price-tag pr10">sun</span>
				</div>
			</div>
			<div class="row listing listing-link listing-even" onclick="window.location.href='https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-14-13-50-20/';">
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-14-13-50-20/">
						<img id="thumb-6" src="https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-14-13-50-20/xb3.jpg" onmouseover="togif(6, '2014-05-14-13-50-20/xb3');" onmouseout="tojpg(6, '2014-05-14-13-50-20/xb3');"/>
						<img id="hidden-6" style="display: none;"/>
					</a>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/datasets/2014-05-14-13-50-20/">
						<h4>2014/05/14</h4>
					</a>
					Time: 13:50:20 GMT<br/>
					Size: 11GB<br/>
					<span class="icon-price-tag pr10">alternate-route</span>
					<span class="icon-price-tag pr10">sun</span>
				</div>
			</div>
		</article>
	</div>
</div>


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				<p class="subheadline">Dataset
				<h1>2014/05/06</h1>
			</header>
			<div class="b20">
				<strong>Time:</strong>
				12:54:54 GMT<br>
				<strong>Total Size:</strong>
				36GB<br>
				<span class="icon-price-tag pr10">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/alternate-route">alternate-route</a>
				</span>
				<span class="icon-price-tag pr10">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/clouds">clouds</a>
				</span>
				<span class="icon-price-tag pr10">
					<a href="https://robotcar-dataset.robots.ox.ac.uk/tags/sun">sun</a>
				</span>
				<table>
					<tr>
						<th>File
						<th>Size
						<th>
							MD5 Checksum
							<tr>
								<td>
									<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_tags.tar" >2014-05-06-12-54-54_tags.tar</a>
								<td>10.00KB
								<td>9E487E4BBFC6610A01A62A1B2F49BD77
				</table>
			</div>
			<div class="row listing listing-odd">
				<div class="large-6 medium-6 columns">
					<h4>Bumblebee XB3</h4>
					<strong>Frames: </strong>
					3874<br>
					<strong>Size: </strong>
					13GB<br>
					<strong>Resolution: </strong>
					1280x960<br>
				</div>
				<div class="large-6 medium-6 columns">
					<img id="xb3-img" onmouseover="togif('xb3');" onmouseout="tojpg('xb3');" src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/xb3.jpg>
					<img src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/xb3.gif style="display:none">
				</div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-xb3">Downloads</a>
							<div id="downloads-xb3" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_stereo_centre_01.tar">2014-05-06-12-54-54_stereo_centre_01.tar</a>
												<td>2.83GB
												<td>
													EB4737F1133BD97CF1ED06BF0B7063BF
													<tr>
														<td>
															<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_stereo_left_01.tar">2014-05-06-12-54-54_stereo_left_01.tar</a>
														<td>2.77GB
														<td>
															DB26EB20BFB5A730DB191A4C69CD7733
															<tr>
																<td>
																	<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_stereo_right_01.tar">2014-05-06-12-54-54_stereo_right_01.tar</a>
																<td>2.86GB
																<td>
																	03DE0241AED24B7DEB68F626CE52A5AF
																	<tr>
																		<td>
																			<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_vo.tar">2014-05-06-12-54-54_vo.tar</a>
																		<td>440.00KB
																		<td>0F820A7C57B7CA0ACE2669E769AA8776
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-even">
				<div class="large-6 medium-6 columns">
					<h4>Grasshopper 2 Left</h4>
					<strong>Frames: </strong>
					7738<br>
					<strong>Size: </strong>
					8GB<br>
					<strong>Resolution: </strong>
					1024x1024<br>
				</div>
				<div class="large-6 medium-6 columns">
					<img id="gs2_left-img" onmouseover="togif('gs2_left');" onmouseout="tojpg('gs2_left');" src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/gs2_left.jpg>
					<img src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/gs2_left.gif style="display:none">
				</div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-gs2_left">Downloads</a>
							<div id="downloads-gs2_left" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_mono_left_01.tar">2014-05-06-12-54-54_mono_left_01.tar</a>
												<td>2.07GB
												<td>83603D0B824FDFD206DB6CB53206368D
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-odd">
				<div class="large-6 medium-6 columns">
					<h4>Grasshopper 2 Right</h4>
					<strong>Frames: </strong>
					7707<br>
					<strong>Size: </strong>
					8GB<br>
					<strong>Resolution: </strong>
					1024x1024<br>
				</div>
				<div class="large-6 medium-6 columns">
					<img id="gs2_right-img" onmouseover="togif('gs2_right');" onmouseout="tojpg('gs2_right');" src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/gs2_right.jpg>
					<img src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/gs2_right.gif style="display:none">
				</div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-gs2_right">Downloads</a>
							<div id="downloads-gs2_right" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_mono_right_01.tar">2014-05-06-12-54-54_mono_right_01.tar</a>
												<td>2.03GB
												<td>BB0CB724D7BC2D1B7C0C13BB89802C21
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-even">
				<div class="large-6 medium-6 columns">
					<h4>Grasshopper 2 Rear</h4>
					<strong>Frames: </strong>
					7735<br>
					<strong>Size: </strong>
					8GB<br>
					<strong>Resolution: </strong>
					1024x1024<br>
				</div>
				<div class="large-6 medium-6 columns">
					<img id="gs2_rear-img" onmouseover="togif('gs2_rear');" onmouseout="tojpg('gs2_rear');" src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/gs2_rear.jpg>
					<img src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/gs2_rear.gif style="display:none">
				</div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-gs2_rear">Downloads</a>
							<div id="downloads-gs2_rear" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_mono_rear_01.tar">2014-05-06-12-54-54_mono_rear_01.tar</a>
												<td>2.09GB
												<td>744B719B63D814559BCB16AFACC9A59A
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-odd">
				<div class="large-6 medium-6 columns">
					<h4>LMS Front</h4>
					<strong>Scans: </strong>
					12774<br>
					<strong>Total Points: </strong>
					6910734<br>
					<strong>Size: </strong>
					122MB<br>
				</div>
				<div class="large-6 medium-6 columns"></div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-lms_front">Downloads</a>
							<div id="downloads-lms_front" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_lms_front_01.tar">2014-05-06-12-54-54_lms_front_01.tar</a>
												<td>154.12MB
												<td>0609CE6E349FA7F4D8038B7B4CE71416
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-even">
				<div class="large-6 medium-6 columns">
					<h4>LMS Rear</h4>
					<strong>Scans: </strong>
					12823<br>
					<strong>Total Points: </strong>
					6937243<br>
					<strong>Size: </strong>
					122MB<br>
				</div>
				<div class="large-6 medium-6 columns"></div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-lms_rear">Downloads</a>
							<div id="downloads-lms_rear" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_lms_rear_01.tar">2014-05-06-12-54-54_lms_rear_01.tar</a>
												<td>154.00MB
												<td>75622906D9B71EEE21B01391C8A63085
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-odd">
				<div class="large-6 medium-6 columns">
					<h4>LDMRS</h4>
					<strong>Scans: </strong>
					6435<br>
					<strong>Size: </strong>
					30MB<br>
				</div>
				<div class="large-6 medium-6 columns"></div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-ldmrs">Downloads</a>
							<div id="downloads-ldmrs" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_ldmrs_01.tar">2014-05-06-12-54-54_ldmrs_01.tar</a>
												<td>54.48MB
												<td>9820FD8D366FE7BA9CB2DEB040F58796
								</table>
							</div>
					</ul>
				</div>
			</div>
			<div class="row listing listing-even">
				<div class="large-6 medium-6 columns">
					<h4>GPS/INS</h4>
					<strong>Samples: </strong>
					12515<br>
					<strong>Size: </strong>
					5MB<br>
				</div>
				<div class="large-6 medium-6 columns">
					<img src=https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/ins.png>
				</div>
				<div class="large-12 medium-12 small-6 columns">
					<ul class="accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#downloads-ins">Downloads</a>
							<div id="downloads-ins" class="content">
								<table>
									<tr>
										<th>File
										<th>Size
										<th>
											MD5 Checksum
											<tr>
												<td>
													<a href="http://mrgdatashare.robots.ox.ac.uk:80/download/?filename=datasets/2014-05-06-12-54-54/2014-05-06-12-54-54_gps.tar">2014-05-06-12-54-54_gps.tar</a>
												<td>1.93MB
												<td>F8FFA266763BDA99CC68DA7CB9A2ECE2
								</table>
							</div>
					</ul>
				</div>
			</div>
			<script type="text/javascript">
				function togif(sensor) {
					var image = document.getElementById(sensor + '-img');
					image.src = 'https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/' + sensor + '.gif';
				}
				function tojpg(sensor) {
					var image = document.getElementById(sensor + '-img');
					image.src = 'https://robotcar-dataset.robots.ox.ac.uk/images/2014-05-06-12-54-54/' + sensor + '.jpg';
				}
			</script>
		</article>
	</div>
</div>